<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">PerPla</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if(name) { %>
                <li><a href="/veranstaltungen">Veranstaltungen</a></li>
            <% } %>
            <li><a href="/mitarbeiter">Mitarbeiterverwaltung</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <% if(name) { %>
                <li><a href="/profil"><%= name %></a></li>    
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>