<meta charset="UTF-8">
<title>PerPla | Personalplanung</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
<script src="//code.jquery.com/jquery-latest.js"></script>
<style>
    body {
        padding-top:70px;
    }
    
    .navbar-brand .fullbrand {
	    display: none
    }
    
    .navbar-brand:hover .fullbrand {
	    display: inline;
    }
</style>
<script>
$(function() {
	// add sm shorthand methods
	jQuery.each( [ "put", "delete" ], function( i, method ) {
		jQuery[ method ] = function( url, data, callback, type ) {
			if ( jQuery.isFunction( data ) ) {
				type = type || callback;
				callback = data;
				data = undefined;
			}
			
			return jQuery.ajax({
				url: url,
				type: method,
				dataType: type,
				data: data,
				success: callback
			});
		};
	});
});
</script>