<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Personalplanung</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if(name) { %>
                <li><a href="/firmen">Firmen</a></li>
                <li><a href="/veranstaltungen">Veranstaltungen</a></li>
                <li><a href="/logout">Hier steht Logout</a></li>
            <% } %>
        </ul>
      
    </div>
</nav>