<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">Per<span class="fullbrand">sonal</span>Pla<span class="fullbrand">nung</small></a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if(name) { %>
                <li><a href="/veranstaltungen">Veranstaltungen</a></li>
                <% if(isCompany == "true") { %>
                    <li><a href="/mitarbeiter">Mitarbeiterverwaltung</a></li>
                <% } %>
            <% } %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
            <% if(name) { %>
                <li><a href="/profil"><%= name %></a></li>    
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </div>
</nav>